{% load static %}

<div id="carouselExampleFade1" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static 'images/carrusel-portada/canastas_1.webp' %}" class="d-block w-100 carousel-image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Canastas de Productos</h5>
          <p>Deliciosas combinaciones de productos naturales.</p>
      </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carrusel-portada/canastas_2.webp' %}" class="d-block w-100 carousel-image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Canastas de Productos</h5>
          <p>Deliciosas combinaciones de productos naturales.</p>
      </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carrusel-portada/canelones_1.webp' %}" class="d-block w-100 carousel-image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Canastas de Productos</h5>
          <p>Deliciosas combinaciones de productos naturales.</p>
      </div>
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/frutos secos_1.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/frutos secos_2.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/frutos secos_3.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/frutos secos_4.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/lasaña_2.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/semillas_1.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/semillas_2.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/semillas_3.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/tarta_1.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/tarta_2.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/tarta_3.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/tarta_4.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/tarteleta_2.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/tarteleta_3.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/vegetales_1.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{% static 'images/carrusel-portada/vegetales_2.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>