.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-bottom: 60px;
}

.featured-header h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.featured-carousel {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

.featured-cta p {
    font-size: 18px;
}

.featured-cta a {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

.featured-cta a:hover {
    text-decoration: underline;
}


/* Estilos del botón "Ver Tienda" */
.btn-ver-mas {
    display: inline-block;
    background-color: #28a745; /* Verde */
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px; /* Espacio con el párrafo */
}

.btn-ver-mas:hover {
    background-color: #218838; /* Verde más oscuro */
    transform: scale(1.15); /* Efecto de aumento */
    color: white; /* Cambia a blanco en hover */
}
